<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mandf.project.makeandfollow.user.mapper.UserMapper">

    <select id="findUser" resultType="com.mandf.project.makeandfollow.user.model.User">
        SELECT *
        FROM user_info;
    </select>

    <select id="loginUser" resultType="com.mandf.project.makeandfollow.user.model.User">
        SELECT *
        FROM user_info ui
        WHERE ui.userId = #{userId}
        AND   ui.passowrd = #{password};
    </select>

    <insert id="insertUser" parameterType="com.mandf.project.makeandfollow.user.model.User">
        INSERT INTO user_info
        VALUES (
        #{userId},
        pi_encrypt(#{password}),
        #{status},
        #{type},
        now(),
        gen_random_uuid()
        )
    </insert>

</mapper>