<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mandf.project.makeandfollow.variable.mapper.VariableMapper">
    <select id="findAll" resultType="com.mandf.project.makeandfollow.variable.model.Variable">
        SELECT *
        FROM variables
    </select>

    <select id="findByUser" resultType="com.mandf.project.makeandfollow.variable.model.Variable">
        SELECT *
        FROM variables vas
        where vas.maker_uid = #{userUid}
    </select>

    <insert id="insertVariable" parameterType="com.mandf.project.makeandfollow.variable.model.Variable">
        INSERT INTO variables
        VALUES (
            #{variableName},
            #{usedCompany},
            #{userUid},
            #{moduleName},
            now()
        )
    </insert>

    <insert id="insertVariableWithCompanyUserUid" parameterType="com.mandf.project.makeandfollow.variable.model.Variable">
        INSERT INTO variables
        VALUES (
        #{variableName},
        #{usedCompany},
        #{userUid},
        #{moduleName},
        now(),
        #{companyUid}
        )
    </insert>

</mapper>